control_region_websocket
[{"id":"6c5bb9f527710f3e","type":"change","z":"55866d004cd246b0","name":"","rules":[{"t":"set","p":"cookies","pt":"msg","to":"responseCookies","tot":"msg"},{"t":"set","p":"_cc_token","pt":"msg","to":"responseCookies","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["8ee10d5cac33cf80"]]},{"id":"28893ac8f1711f8d","type":"split","z":"55866d004cd246b0","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":690,"y":480,"wires":[["1e7203c98b36bb82"]]},{"id":"bc47679b14937949","type":"json","z":"55866d004cd246b0","name":"","property":"payload","action":"","pretty":false,"x":350,"y":480,"wires":[["630f4242b9ef7075"]]},{"id":"1e7203c98b36bb82","type":"change","z":"55866d004cd246b0","name":"","rules":[{"t":"set","p":"regionid","pt":"msg","to":"payload","tot":"msg","dc":true},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":480,"wires":[["9d46551f08916cb8"]]},{"id":"275b4c1b9f4295e6","type":"catch","z":"55866d004cd246b0","name":"","scope":null,"uncaught":false,"x":300,"y":1140,"wires":[["583e3906a26cdf48"]]},{"id":"583e3906a26cdf48","type":"debug","z":"55866d004cd246b0","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":1140,"wires":[]},{"id":"489e9352c85747a1","type":"inject","z":"55866d004cd246b0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":100,"wires":[["965044cce468123e"]]},{"id":"965044cce468123e","type":"http request","z":"55866d004cd246b0","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://10.150.2.216/axis-cgi/wssession.cgi","tls":"ca2c5b1b6b6e2006","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"digest","senderr":false,"headers":[],"x":350,"y":140,"wires":[["eae12a0e3ffa991d"]]},{"id":"eae12a0e3ffa991d","type":"function","z":"55866d004cd246b0","name":"Prepare Websocket connect","func":"// token från HTTP-request (payload kan vara Buffer eller text)\nlet token = Buffer.isBuffer(msg.payload)\n  ? msg.payload.toString(\"utf8\").trim()\n  : String(msg.payload).trim();\n\n// Axis-token brukar vara bara siffror, men trimma hårt:\ntoken = token.replace(/\\s+/g, \"\");\n\n// ---- dynamic-websocket inställningar via msg.* ----\nconst ip = \"10.150.2.216\";                // din kamera\nmsg.url = `wss://${ip}/vapix/ws-data-stream?sources=events`;\n\nmsg.authType = \"token\";\nmsg.tokenLocation = \"url\";\nmsg.tokenKey = \"wssession\";\nmsg.token = token;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":180,"wires":[["cc422c21f2e7bcf6"]]},{"id":"94af44d4d262207d","type":"switch","z":"55866d004cd246b0","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"disconnected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":200,"wires":[["7722f1ab286dcd54"]]},{"id":"7a02d9799d596a5d","type":"delay","z":"55866d004cd246b0","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1130,"y":200,"wires":[["94af44d4d262207d"]]},{"id":"e66b5b90d7fc55a9","type":"switch","z":"55866d004cd246b0","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"Connected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":260,"wires":[["56ac53bbea8bf529"]]},{"id":"1b698ba2ef931511","type":"switch","z":"55866d004cd246b0","name":"","property":"payload.params.notification.message.source.port","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":400,"wires":[["93aa292d2f1004d1"]]},{"id":"cb668c2e9306b868","type":"q-gate","z":"55866d004cd246b0","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"100","keepNewest":false,"qToggle":false,"persist":false,"storeName":"memory","x":450,"y":860,"wires":[["2b0e6153149b8e80"]]},{"id":"e94c0fccf786358f","type":"switch","z":"55866d004cd246b0","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"neq","v":"200","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":860,"wires":[["f3a0bb09972da8b7","e484d8c320361cf4"],["8fa044e4dba36acd"]]},{"id":"b9cc08bd6ca869d1","type":"link in","z":"55866d004cd246b0","name":"link DATA","links":["3096c3907289b680","6c6dd3032372d2ba","7f296007ec328511","a69384ed7150dff2"],"x":135,"y":860,"wires":[["cb668c2e9306b868","8890b051cae5669b"]]},{"id":"2abd393c87f55781","type":"delay","z":"55866d004cd246b0","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1360,"y":860,"wires":[["da7704f20c9ba354","b44c4197baee43ac"]]},{"id":"ae030ba61ba4cb19","type":"inject","z":"55866d004cd246b0","name":"","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"control","payload":"trigger","payloadType":"str","x":160,"y":760,"wires":[["d7985862bc095925"]]},{"id":"da7704f20c9ba354","type":"debug","z":"55866d004cd246b0","name":"debug 27","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1540,"y":860,"wires":[]},{"id":"8fa044e4dba36acd","type":"function","z":"55866d004cd246b0","name":"retry guard","func":"const MAX = 5;\nconst status = msg.statusCode ?? -1;\n\n// 4xx = klientfel → retry hjälper inte (undantag: 408/429)\nif (status >= 400 && status < 500 && status !== 408 && status !== 429) {\n    node.error(`Non-retryable HTTP ${status}. Not retrying.`, msg);\n    return [null, { topic: \"control\", payload: \"trigger\", failedMsg: msg }];\n}\n\nmsg._retries = (msg._retries || 0) + 1;\n\nif (msg._retries <= MAX) {\n    node.warn(`Request failed (status ${status}), retry ${msg._retries}/${MAX}`);\n    return [msg, null];\n}\n\nnode.error(`Request failed after ${MAX} retries (last status ${status})`, msg);\nreturn [null, { topic: \"control\", payload: \"trigger\", failedMsg: msg }];\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":920,"wires":[["2abd393c87f55781"],["98e5d012f9af353e","a18d3f9bc223f49c"]]},{"id":"93aa292d2f1004d1","type":"function","z":"55866d004cd246b0","name":"Set regions array","func":"// Läs och normalisera active-flaggan till boolean\nconst regionActive = Boolean(\n    Number(msg.payload?.params?.notification?.message?.data?.active)\n);\n\n// Lista med regioner (motsvarar dina change-noder)\nconst regions = [\n    \"csra\",\n    \"csra_1\",\n    \"csra_2\",\n    \"csra_3\",\n    \"csra_4\",\n    \"classify_dirty\"\n];\n\n// Skapa array av objekt\nmsg.regions = regions.map(r => ({\n    region: r,\n    region_should_state: regionActive\n}));\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":400,"wires":[["6706c64577ffea0a"]]},{"id":"b44c4197baee43ac","type":"http request","z":"55866d004cd246b0","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"9b0a2bab70d01497","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":870,"y":860,"wires":[["e94c0fccf786358f"]]},{"id":"51fbef4f113d4ca2","type":"link out","z":"55866d004cd246b0","name":"link out 4","mode":"link","links":["a62ad25a4e73b89b","a629329b21767f6f"],"x":1535,"y":940,"wires":[]},{"id":"a69384ed7150dff2","type":"link out","z":"55866d004cd246b0","name":"link out 6","mode":"link","links":["b9cc08bd6ca869d1"],"x":1315,"y":400,"wires":[]},{"id":"6706c64577ffea0a","type":"function","z":"55866d004cd246b0","name":"Prepare request","func":"msg.method = \"POST\";\nmsg.url = \"https://10.150.2.9/rest/session/login\";\nmsg.payload = { \"user\": \"admin\", \"password\": \"password\" };\nmsg._callerid = 1;\nmsg.regionid = null;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":400,"wires":[["a69384ed7150dff2"]]},{"id":"8ee10d5cac33cf80","type":"function","z":"55866d004cd246b0","name":"Prepare request","func":"msg.method = \"GET\";\nmsg.url = \"https://10.150.2.9/rest/regions/list\";\nmsg.headers = { \"Authorization\": `Bearer ${msg._cc_token}` };\nmsg._callerid = 2;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":440,"wires":[["7f296007ec328511"]]},{"id":"7f296007ec328511","type":"link out","z":"55866d004cd246b0","name":"link out 7","mode":"link","links":["b9cc08bd6ca869d1"],"x":725,"y":440,"wires":[]},{"id":"9c9e5c822397ccf4","type":"switch","z":"55866d004cd246b0","name":"HTTP Response","property":"_callerid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":160,"y":520,"wires":[["6c5bb9f527710f3e"],["bc47679b14937949"],["cfe2f4715c4f9e95"],["6af8fac29b221a3a"],["ad5fab8a1f1e1cca"]]},{"id":"6ecbec1267019eae","type":"link in","z":"55866d004cd246b0","name":"link in 3","links":["e484d8c320361cf4"],"x":45,"y":520,"wires":[["9c9e5c822397ccf4"]]},{"id":"6ab77501c99c65e7","type":"debug","z":"55866d004cd246b0","name":"debug 36","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":700,"wires":[]},{"id":"e484d8c320361cf4","type":"link out","z":"55866d004cd246b0","name":"link out 8","mode":"link","links":["6ecbec1267019eae"],"x":1175,"y":780,"wires":[]},{"id":"98e5d012f9af353e","type":"debug","z":"55866d004cd246b0","name":"debug 38","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1360,"y":1020,"wires":[]},{"id":"9d46551f08916cb8","type":"function","z":"55866d004cd246b0","name":"Prepare request","func":"msg.method = \"GET\";\nmsg.url = `https://10.150.2.9/rest/regions/${msg.regionid}`;\nmsg.headers = { \"Authorization\": `Bearer ${msg._cc_token}` };\nmsg._callerid = 3;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":480,"wires":[["6c6dd3032372d2ba"]]},{"id":"6c6dd3032372d2ba","type":"link out","z":"55866d004cd246b0","name":"link out 10","mode":"link","links":["b9cc08bd6ca869d1"],"x":1185,"y":480,"wires":[]},{"id":"34c2a22149ab8dd6","type":"join","z":"55866d004cd246b0","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":true,"accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":540,"wires":[["8e4f02e71efe2ae3"]]},{"id":"cfe2f4715c4f9e95","type":"json","z":"55866d004cd246b0","name":"","property":"payload","action":"","pretty":false,"x":370,"y":540,"wires":[["b81ae2421bdeeb97"]]},{"id":"b81ae2421bdeeb97","type":"change","z":"55866d004cd246b0","name":"","rules":[{"t":"set","p":"payload.regionid","pt":"msg","to":"regionid","tot":"msg","dc":true},{"t":"delete","p":"regionid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":540,"wires":[["34c2a22149ab8dd6"]]},{"id":"ad5fab8a1f1e1cca","type":"debug","z":"55866d004cd246b0","name":"debug 41","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":160,"y":580,"wires":[]},{"id":"8e4f02e71efe2ae3","type":"function","z":"55866d004cd246b0","name":"function 5","func":"// --- Build wanted state lookup: region name -> should be Active (bool)\nconst wanted = new Map(\n    (msg.regions || []).map(r => [String(r.region).trim(), !!r.region_should_state])\n);\n\nconst updates = [];\n\n// UUID-ish check (optional but useful)\nconst isUuid = (s) =>\n    typeof s === \"string\" &&\n    /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(s);\n\nfor (const item of (msg.payload || [])) {\n    if (!item || item.Error) continue;\n\n    const results = item.Results || {};\n\n    // Normalize name\n    const name = String(results.Name || \"\").trim();\n    if (!name) continue;\n\n    // Only touch regions we care about\n    if (!wanted.has(name)) continue;\n\n    const shouldBeActive = wanted.get(name);\n    const isActive = results.Active;\n\n    // Already correct -> skip\n    if (isActive === shouldBeActive) continue;\n\n    // ✅ Only accept the regionid that is paired with this Results/Name in the joined payload\n    const regionId = item.regionid;\n\n    if (!regionId) {\n        node.warn(`Missing item.regionid for region '${name}', skipping`);\n        continue;\n    }\n    if (!isUuid(regionId)) {\n        node.warn(`Invalid regionid '${regionId}' for region '${name}', skipping`);\n        continue;\n    }\n\n    // FULL payload required by API\n    // Enforce Name explicitly to avoid accidental renames if results is weird\n    const fullPayload = {\n        ...results,\n        Name: name,\n        Active: shouldBeActive\n    };\n\n    updates.push({\n        method: \"PUT\",\n        url: `https://10.150.2.9/rest/regions/${regionId}`,\n        headers: {\n            Cookie: `session=${msg._cc_token?.session?.value || \"\"}`\n        },\n        payload: fullPayload,\n\n        // metadata (handy for debugging)\n        _callerid: 4,\n        _region: name,\n        _regionid: regionId,\n        _prevActive: isActive\n    });\n}\n\nif (updates.length === 0) {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"No updates needed\" });\n    return null;\n}\n\nnode.status({ fill: \"yellow\", shape: \"dot\", text: `Queued ${updates.length} PUT(s)` });\n\nmsg._callerid = 4;\nmsg.payload = updates;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":540,"wires":[["9846af6f95f9c3a0"]]},{"id":"9846af6f95f9c3a0","type":"split","z":"55866d004cd246b0","name":"","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":1070,"y":540,"wires":[["da725144a6412ad4"]]},{"id":"3096c3907289b680","type":"link out","z":"55866d004cd246b0","name":"link out 11","mode":"link","links":["b9cc08bd6ca869d1"],"x":1425,"y":540,"wires":[]},{"id":"630f4242b9ef7075","type":"change","z":"55866d004cd246b0","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Results","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":480,"wires":[["28893ac8f1711f8d"]]},{"id":"2b0e6153149b8e80","type":"change","z":"55866d004cd246b0","name":"","rules":[{"t":"set","p":"pumpBusy","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":860,"wires":[["b44c4197baee43ac"]]},{"id":"a18d3f9bc223f49c","type":"change","z":"55866d004cd246b0","name":"","rules":[{"t":"set","p":"pumpBusy","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"trigger","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":940,"wires":[["51fbef4f113d4ca2"]]},{"id":"8890b051cae5669b","type":"function","z":"55866d004cd246b0","name":"Trigger queue if idle","func":"const busy = flow.get(\"pumpBusy\") || false;\n\n// Om pumpen är idle: kicka igång med trigger\nif (!busy) {\n    return { topic: \"control\", payload: \"trigger\" };\n}\n\n// annars: gör inget\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":880,"wires":[["cb668c2e9306b868"]]},{"id":"6af8fac29b221a3a","type":"json","z":"55866d004cd246b0","name":"","property":"payload","action":"","pretty":false,"x":370,"y":700,"wires":[["199378952dcaa5df"]]},{"id":"da725144a6412ad4","type":"function","z":"55866d004cd246b0","name":"Prepare Request","func":"const put = msg.payload;\n\n// 🔁 ÖVERSKRIV HTTP request-fälten\nmsg.method = put.method;\nmsg.url = put.url;\nmsg.payload = put.payload;\n\n// 🔐 Bygg cookie-header från AKTUELL session\nif (msg._cc_token?.session?.value) {\n    msg.headers = {\n        Cookie: `session=${msg._cc_token.session.value}`\n    };\n} else {\n    node.error(\"Missing session cookie\", msg);\n    return null;\n}\n\n// Metadata\nmsg._callerid = put._callerid;\nmsg._region = put._region;\nmsg._regionid = put._regionid;\n\n// ❗ Viktigt: rör INTE msg.parts (Join behöver den)\n\n// Städning (valfritt men bra)\ndelete msg.responseUrl;\ndelete msg.redirectList;\ndelete msg.statusCode;\ndelete msg.retry;\ndelete msg.regionid;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":540,"wires":[["3096c3907289b680"]]},{"id":"199378952dcaa5df","type":"join","z":"55866d004cd246b0","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","useparts":false,"accumulate":"false","timeout":"","count":"","reduceRight":false,"x":510,"y":700,"wires":[["0b202b0ccf940111"]]},{"id":"0b202b0ccf940111","type":"function","z":"55866d004cd246b0","name":"set final status","func":"\nconst total = Array.isArray(msg.payload) ? msg.payload.length : 0;\n\nif (total === 0) {\n    node.status({\n        fill: \"green\",\n        shape: \"dot\",\n        text: \"No region updates needed\"\n    });\n    return msg;\n}\n\n// Alla PUT gick igenom (du är här bara vid 200)\nnode.status({\n    fill: \"green\",\n    shape: \"dot\",\n    text: `Applied ${total} region update${total > 1 ? \"s\" : \"\"}`\n});\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":700,"wires":[["6ab77501c99c65e7"]]},{"id":"56ac53bbea8bf529","type":"delay","z":"55866d004cd246b0","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":490,"y":260,"wires":[["3ae20adcc89d2ad0"]]},{"id":"3ae20adcc89d2ad0","type":"function","z":"55866d004cd246b0","name":"function 6","func":"\n\nmsg.message = {\n    apiVersion: \"1.0\",\n    context: \"C87\",\n    method: \"events:configure\",\n    params: {\n        eventFilterList: [\n            { topicFilter: \"tns1:Device/tnsaxis:IO/VirtualInput\" }\n        ]\n    }\n};\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":260,"wires":[["cc422c21f2e7bcf6"]]},{"id":"eac3bc3a6e8f5463","type":"inject","z":"55866d004cd246b0","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":220,"wires":[["312f930224f45c03"]]},{"id":"312f930224f45c03","type":"function","z":"55866d004cd246b0","name":"function 7","func":"msg.message = {\n    apiVersion: \"1.0\",\n    context: \"C87\",\n    method: \"events:configure\",\n    params: {\n        eventFilterList: [\n            { topicFilter: \"tns1:Device/tnsaxis:IO/VirtualInput\" }\n        ]\n    }\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":220,"wires":[["cc422c21f2e7bcf6"]]},{"id":"7722f1ab286dcd54","type":"link out","z":"55866d004cd246b0","name":"link out 12","mode":"link","links":["acb79bceab2e0e89"],"x":1465,"y":200,"wires":[]},{"id":"acb79bceab2e0e89","type":"link in","z":"55866d004cd246b0","name":"link in 4","links":["7722f1ab286dcd54"],"x":165,"y":140,"wires":[["965044cce468123e"]]},{"id":"4cb64ad95323e541","type":"link out","z":"55866d004cd246b0","name":"link out 13","mode":"link","links":["bcc1c9c9e6d2f833"],"x":1055,"y":100,"wires":[]},{"id":"bcc1c9c9e6d2f833","type":"link in","z":"55866d004cd246b0","name":"link in 5","links":["4cb64ad95323e541"],"x":585,"y":400,"wires":[["1b698ba2ef931511"]]},{"id":"49b15c926d78afe0","type":"inject","z":"55866d004cd246b0","name":"","props":[{"p":"message","v":"{     \"apiVersion\": \"1.0\",     \"context\": \"Client defined request ID\",     \"method\": \"events:configure\",     \"params\": {         \"eventFilterList\": [             {                 \"topicFilter\": \"tns1:PTZController/tnsaxis:PTZReady\"             },             {                 \"contentFilter\": \"boolean(//SimpleItem[@Name=\\\"ready\\\" and @Value=\\\"1\\\"])\"             },             {                 \"topicFilter\": \"tns1:Device/tnsaxis:IO/VirtualPort\",                 \"contentFilter\": \"boolean(//SimpleItem[@Name=\\\"port\\\" and @Value=\\\"1\\\"]) and boolean(//SimpleItem[@Name=\\\"state\\\" and @Value=\\\"0\\\"])\"             }         ]     } }","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":550,"y":320,"wires":[["cc422c21f2e7bcf6"]]},{"id":"cc422c21f2e7bcf6","type":"dynamic-websocket","z":"55866d004cd246b0","name":"","url":"","allowSelfSigned":true,"autoReconnect":false,"reconnectAttempts":0,"reconnectInterval":5000,"useExponentialBackoff":false,"authType":"none","username":"","password":"","token":"","tokenLocation":"header","tokenKey":"Authorization","headers":"","transformMessages":false,"messageFormat":"json","binarySupport":false,"validateMessages":false,"messageTemplate":"","x":860,"y":180,"wires":[["4cb64ad95323e541"],["7a02d9799d596a5d"],["dd0c812f02fcc7dd"]]},{"id":"dd0c812f02fcc7dd","type":"link out","z":"55866d004cd246b0","name":"link out 14","mode":"link","links":["b74b0b4e15f70478"],"x":1065,"y":240,"wires":[]},{"id":"b74b0b4e15f70478","type":"link in","z":"55866d004cd246b0","name":"link in 6","links":["dd0c812f02fcc7dd"],"x":205,"y":260,"wires":[["e66b5b90d7fc55a9"]]},{"id":"f3a0bb09972da8b7","type":"change","z":"55866d004cd246b0","name":"","rules":[{"t":"set","p":"pumpBusy","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"trigger","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":820,"wires":[["ffe33478cdfd8cca"]]},{"id":"ffe33478cdfd8cca","type":"link out","z":"55866d004cd246b0","name":"link out 15","mode":"link","links":["a629329b21767f6f"],"x":1365,"y":820,"wires":[]},{"id":"d7985862bc095925","type":"change","z":"55866d004cd246b0","name":"","rules":[{"t":"set","p":"pumpBusy","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":760,"wires":[["cb668c2e9306b868"]]},{"id":"a629329b21767f6f","type":"link in","z":"55866d004cd246b0","name":"link CONTROL","links":["ffe33478cdfd8cca","51fbef4f113d4ca2"],"x":175,"y":820,"wires":[["cb668c2e9306b868"]]},{"id":"ca2c5b1b6b6e2006","type":"tls-config","name":"Self-signed","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""},{"id":"9b0a2bab70d01497","type":"tls-config","name":"Accept_self_signed","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""}]
