control_regions
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow1","disabled":false,"info":""},{"id":"f120e8406ed9b875","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://192.168.1.114/rest/session/login","tls":"da71a75669bec815","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":320,"wires":[["0df9bd45d51e9ba9"]]},{"id":"3da1d4e4d85fe299","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://192.168.1.114/rest/regions/list","tls":"da71a75669bec815","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"bearer","senderr":false,"headers":[{"keyType":"other","keyValue":"","valueType":"other","valueValue":""}],"x":910,"y":320,"wires":[["ab19edb012c6abed"]]},{"id":"4add21c75c550f0a","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://192.168.1.114/rest/regions/{{id}}","tls":"da71a75669bec815","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":890,"y":400,"wires":[["0b246fc055769fab"]]},{"id":"0df9bd45d51e9ba9","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"cookies","pt":"msg","to":"responseCookies","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":320,"wires":[["3da1d4e4d85fe299"]]},{"id":"4c6fc7a6149b4687","type":"split","z":"f6f2187d.f17ca8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":400,"wires":[["c48acaadef5ada44"]]},{"id":"ab19edb012c6abed","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":170,"y":400,"wires":[["63126fc199ba5174"]]},{"id":"63126fc199ba5174","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Results","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":400,"wires":[["4c6fc7a6149b4687"]]},{"id":"1a482532f221321c","type":"debug","z":"f6f2187d.f17ca8","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":560,"wires":[]},{"id":"c48acaadef5ada44","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":400,"wires":[["4add21c75c550f0a"]]},{"id":"0b246fc055769fab","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":150,"y":480,"wires":[["590e202a679322be"]]},{"id":"92f8ac1c489c7542","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload.Results.Active","pt":"msg","to":"region_active","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":480,"wires":[["05596981701ee7d3"]]},{"id":"d277fb4c65ede86b","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"https://192.168.1.114/rest/regions/{{id}}","tls":"da71a75669bec815","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":310,"y":560,"wires":[["1a482532f221321c"]]},{"id":"02c02c6bed472cb9","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":130,"y":560,"wires":[["d277fb4c65ede86b"]]},{"id":"e9ae809bbaab6824","type":"catch","z":"f6f2187d.f17ca8","name":"","scope":null,"uncaught":false,"x":140,"y":700,"wires":[["6f4899e2f205d214"]]},{"id":"6f4899e2f205d214","type":"debug","z":"f6f2187d.f17ca8","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":700,"wires":[]},{"id":"05596981701ee7d3","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Results","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":480,"wires":[["02c02c6bed472cb9"]]},{"id":"a5c2ea3c5971faa8","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.26/digitaloutput/0/value","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"basic","senderr":false,"headers":[],"x":330,"y":220,"wires":[["4740195438788e40"]]},{"id":"4740195438788e40","type":"xml","z":"f6f2187d.f17ca8","name":"","property":"payload","attr":"","chr":"","x":490,"y":220,"wires":[["c2a04336bead21fa"]]},{"id":"c2a04336bead21fa","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"region_active","pt":"msg","to":"payload[\"ADAM-6060\"].DO[0].VALUE[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":220,"wires":[["bc04a45b5f82be4a"]]},{"id":"bc04a45b5f82be4a","type":"function","z":"f6f2187d.f17ca8","name":"function 1","func":"if (msg.region_active == \"0\") {\n    msg.region_active = false;\n} else {\n    msg.region_active = true;\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["222a9b17e5aaab0f"]]},{"id":"222a9b17e5aaab0f","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"user\":\"admin\", \"password\":\"password\"}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":320,"wires":[["f120e8406ed9b875"]]},{"id":"590e202a679322be","type":"function","z":"f6f2187d.f17ca8","name":"Filter on Region name","func":"if (msg.payload.Results.Name == \"Region2\" && \n    msg.payload.Results.Active != msg.region_active) {\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":480,"wires":[["92f8ac1c489c7542"]]},{"id":"322b15bad408b392","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":220,"wires":[["a5c2ea3c5971faa8"]]},{"id":"da71a75669bec815","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false,"alpnprotocol":""}]

