owntracks_input
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"88fc6831b1312490","type":"http in","z":"f6f2187d.f17ca8","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":320,"y":260,"wires":[["5ac2b540db6e385e","6b22f5e0a27bdb87","a240b61363585113"]]},{"id":"5ac2b540db6e385e","type":"http response","z":"f6f2187d.f17ca8","name":"","statusCode":"200","headers":{},"x":560,"y":200,"wires":[]},{"id":"6b22f5e0a27bdb87","type":"debug","z":"f6f2187d.f17ca8","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":260,"wires":[]},{"id":"c8e07e52362c8fa6","type":"tcp out","z":"f6f2187d.f17ca8","name":"","host":"192.168.1.119","port":"19111","beserver":"client","base64":false,"end":false,"tls":"","x":990,"y":360,"wires":[]},{"id":"a240b61363585113","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"","pretty":false,"x":590,"y":340,"wires":[["c8e07e52362c8fa6"]]}]
